@import './partials/_nav';
@import './partials/home';
@import './partials//form';
html,
body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.text--large {
  font-size: 4vh;
  font-weight: 300;
  line-height: 5vh;
  display: block;
  font-weight: 300;
  @include md {
    font-size: 5.25vh;
  }
}

.text--reg {
  font-size: 200;
  color: #646f79;
  display: block;
  font-size: 2vh;
  font-weight: 200;
  @include md {
    font-size: 2.75vh;
  }
}

.centered-image {
  min-width: 350px;
  width: 100%;
  max-width: 800px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

input {
  -webkit-appearance: none;
  box-shadow: none;
}

.padder {
  padding: 30px;

  @include md {
    padding: 40px;
  }
  @include lg {
    padding: 60px;
  }

  @include xl {
    padding: 80px;
  }
}
