@import './variables/colors.scss';
@import './partials/_nav';
@import './partials/home';
@import './partials/form';
@import './partials/_callout';
@import './partials/_buttons';
@import './partials/_menu';

html,
body {
  height: 100%;
  width: 100%;
  max-height: 2000px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.text--large {
  font-size: 6vw;
  font-weight: 300;
  line-height: 4vh;
  display: block;
  font-weight: 300;

  &--bold {
    @extend .text--large;
    font-weight: 500;
  }

  @include sm {
    font-size: 24px;
  }

  @include md {
    font-size: 30px;
  }
  @include lg {
    font-size: 40px;
  }
}

.text--reg {
  font-size: 200;
  color: #646f79;
  display: block;
  font-size: 4vw;
  font-weight: 200;

  @include sm {
    font-size: 16px;
  }
  @include md {
    font-size: 24px;
  }
}

.centered-image {
  min-width: 350px;
  width: 100%;
  height: auto;
  max-width: 600px;
}

input {
  -webkit-appearance: none;
  box-shadow: none;
}

.padder {
  padding: 30px;

  @include md {
    padding: 40px;
  }
  @include lg {
    padding: 60px;
  }

  @include xl {
    padding: 80px;
  }
}

.spacer {
  padding-bottom: 20px;
}

.dontMove {
  overflow: hidden;
  position: fixed;
  z-index: -10000;
  width: 100%;
}

.content {
  height: 60px;
  padding: 10px;
}
