@import '../variables/colors.scss';

.callout--parent {
  background: $lightGrey;
  height: 300px;
}

.callout--content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
