.footer {
  width: 100%;
  background: #f4f5f7;
  padding: 10px;
  height: 250px;

  @include md {
    flex-direction: row;
    height: 200px;
  }
  h4 {
    letter-spacing: 2px;
    @include md {
      flex: 0.5;
    }
  }

  &--content {
    width: 100%;
    padding: 20px;

    height: 100%;

    @include md {
      padding: 0;

      width: 100%;
    }
  }
}
.footer--inner {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}
.footer--title {
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  @include md {
    font-size: 0.875rem;
    align-self: flex-start;
  }
}

.footer--link {
  letter-spacing: 2px;

  font-weight: 200;
  font-size: 0.7rem;
  display: block;
  color: gray;
  @include md {
    font-size: 0.7rem;
  }
}

.links {
  flex: 1;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & div {
    flex: 1 0 50%;

    @include md {
      flex: 2;
      margin-top: 15px;
    }
  }
}
