html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
  &.div {
    height: 100%;
  }
}

.first {
  height: 100%;
  min-height: 100%;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main--content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
  }
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

li {
  list-style: none;
}

input {
  -webkit-appearance: none;
  box-shadow: none;
}


.centered-image {
  min-width: 350px;
  width: 100%;
  height: auto;
  max-width: 600px;
}


.padder {
  padding: 30px;

  @include md {
    padding: 40px;
  }
  @include lg {
    padding: 60px;
  }

  @include xl {
    padding: 80px;
  }
}
//For Header
.spacer {
  height: 60px;
}

//spacing elements within div
.divider {
  margin-top: 60px;
}

//padding insider divs
.innerPadding {
  padding: 0 20px;

  @include md {
    padding: 50px 20px;
  }
}

.dontMove {
  overflow: hidden;
  position: fixed;
  z-index: -10000;
  width: 100%;
}


