.home--parent {
  //background: #fee2d9;

  @include md {
    margin: 0 auto;
  }
}

.home--textContainer {
  flex: 2;
  text-align: center;
  max-width: 800px;
}

.home--content {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home--section {
  padding: 20px 0;
}
