.menu--open {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

  a {
    transition: all 200ms ease;
    color: white;
    font-size: 5vh;
    letter-spacing: 2px;
    font-weight: 300;

    &:hover {
      color: $success;
      letter-spacing: 5px;
    }
  }
}

.menu--close {
  position: absolute;
  left: 0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

.menu--content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 50%;
  width: 100%;
  align-items: center;
}
