.menu--open {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  z-index: 1;
  @include md {
    display: none;
  }

  a {
    @include md {
      display: none;
    }
    transition: all 200ms ease;
    color: white;
    font-size: 5vh;
    letter-spacing: 4px;
    font-weight: 200;

    &:hover {
      letter-spacing: 5px;
    }
  }
}

.menu--close {
  position: fixed;
  left: 0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;

  @include md {
    display: none;
  }
}

.menu--content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 50%;
  width: 100%;
  align-items: center;
  // @include md {
  //   display: none;
  // }
}
