@import '../mixins/responsive.scss';
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: space-between;
  border-bottom: 3px solid $lightGrey;
  background: white;
  padding: 10px;
  z-index: 2;
  opacity: 0.8;
}
.hideNav {
  @extend .nav;
  background: none;
  border: none;

  @include md {
    background: white;
  }

  .nav--logo,
  .logo--name {
    visibility: hidden;
    @include md {
      visibility: visible;
    }
  }
}

.logo--name {
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 300;

  @include md {
    font-size: 24px;
  }
}
.nav--logo {
  width: 50px;
  height: auto;
  padding-right: 10px;
}

.nav--logo--parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: baseline;
}

.nav--visible {
  display: none;

  @include md {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12.5px;
    
  }

  @include lg {
    font-size: 14px;
  }
}

.hamburger--parent {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  @include md {
    display: none;
  }
}
