@import '../mixins/responsive.scss';
.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: inherit;
  justify-content: space-between;
  border-bottom: 3px solid $lightGrey;
  background: white;
  opacity: 0.9;

  /* center all inline content */
  height: inherit !important;

  @include md {
    padding: 20px;
  }
}
.hideNav {
  @extend .nav;
  background: none;
  border: none;
  .nav--logo,
  .logo--name {
    visibility: hidden;
  }
}

.logo--name {
  font-size: 3vh;
  letter-spacing: 3px;
}
.nav--logo {
  width: 6vh;
  height: auto;
  padding-right: 10px;
}

.nav--logo--parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: baseline;
}

.hamburger--parent {
  flex: 1;
  display: flex;

  justify-content: flex-end;
}
