@import '../mixins/responsive.scss';
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 100%;
}

.logo--name {
  font-size: 3vh;
  letter-spacing: 2px;
}
.nav--logo {
  width: 6vh;
  height: auto;
  padding-right: 10px;
}

.nav--logo--parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.hamburger--parent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  z-index: 1200;
}
